<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{#block "head"}}
    <title>{{title}}</title>
  {{/block}}
</head>

<body>
  {{#block "body"}}
  {{/block}}

    {{#block "foot"}}
        {{!-- <script src="js/lib/default.js"></script>  --}}
    {{/block}}
</body>

</html>
